@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/Faktum.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: #111; */
    /* overflow: hidden; */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}